div.show-episodes-container {
  div.season-container {
    width: 99%;
    padding: 5px 10px;
    margin: 10px 0;
    background-color: #d3d3d3;
    border-radius: 1px;
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.4);

    div.season-title-container {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &.active {
        h5.season-title {
          svg.title-arrow {
            transform: rotate(0deg);
          }
        }
      }

      h5.season-title {
        display: flex;
        align-items: center;

        svg.title-arrow {
          opacity: 0.6;
          transform: rotate(-90deg);
          margin-right: 5px;
          color: #000000;
          font-size: 18px;
          transition: 0.1s transform;
        }

        span.title {
          color: #000000;
          font-size: 18px;
          font-weight: 500;
        }

        &.watched {
          span.title {
            opacity: 0.6;
            text-decoration: line-through;
          }
        }

        &.watched + span.season-complete {
          background-color: #227722;
          color: #ffffff;
        }
      }

      span.season-complete {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 50%;
        box-shadow: 1.5px 1.5px 1px 0px rgba(0, 0, 0, 0.3);
        color: #000000;
        font-size: 20px;
        font-weight: 400;
        transition: 0.1s color, 0.1s background-color;

        &:hover {
          color: #227722;
        }
      }

      &.active {
        & + ul.episodes-container {
          display: block;
        }
      }
    }

    ul.episodes-container {
      display: none;
      margin-top: 5px;
      list-style-type: none;

      li.episode {
        cursor: pointer;
        padding: 3px 0;
        font-size: 15px;
        font-weight: 400;

        &:hover {
          span.episode-title {
            text-decoration: underline;
          }
        }

        &.watched {
          span.episode-title {
            opacity: 0.6;
            text-decoration: line-through;
          }

          span.episode-number {
            opacity: 1;
            color: #227722 !important;
          }
        }

        div.episode-title-container {
          display: flex;
          justify-content: space-between;
          padding: 0 1.5px;

          div.title-container {
            span.episode-number {
              display: inline-block;
              opacity: 0.6;
              width: 25px;
              color: #000000;
              font-size: 15px;
              font-weight: 500;
            }
            span.episode-title {
              color: #000000;
              font-size: 15px;
              font-weight: 400;
            }
          }

          div.episode-hover {
            margin: 2px 0 0 5px;

            span.hover-info-icon {
              display: flex;
              opacity: 0.3;
              align-items: center;
              width: 15px;
              height: 15px;
              border-radius: 50%;
              color: #000000;
              transition: 0.1s opacity, 0.1s color;

              &:hover {
                opacity: 1;
                color: #ff7b00;
              }
            }

            &:hover {
              div.hover-content-container {
                opacity: 1;
                visibility: visible;
              }
            }

            div.hover-content-container {
              position: absolute;
              z-index: 99;
              opacity: 0;
              visibility: hidden;
              top: 10px;
              left: 49.8%;
              transform: translate(-50%, 0);
              width: 91.3%;
              max-height: 430px;
              padding: 10px;
              background-color: #e4e4b2;
              border-radius: 2px;
              overflow: auto;
              transition: 0.5s opacity;

              &::-webkit-scrollbar-track {
                background-color: #cece97;
              }

              &::-webkit-scrollbar {
                width: 10px;
              }

              &::-webkit-scrollbar-thumb {
                background-color: #b6b670;
              }

              div.hover-title-container {
                display: flex;
                align-items: center;

                h5.title {
                  margin-bottom: 3px;
                  color: #000000;
                  font-size: 15px;
                  font-weight: 500;
                }
                span.date {
                  opacity: 0.7;
                  margin-left: 5px;
                  color: #000000;
                  font-size: 15px;
                  font-weight: 500;
                }
              }

              p.hover-description {
                color: #000000;
                font-size: 15px;
                font-weight: 400;
              }

              img.hover-image {
                -webkit-user-drag: none;
                width: 100%;
                border-radius: 2px;
              }
            }
          }
        }
      }
    }
  }
}
