div.show-details-container {
  display: flex;
  margin: 10px 0;
  
  div.image-container {
    position: relative;
    width: 40%;
    margin-right: 10px;

    img.detail-image {
      -webkit-user-drag: none;
      width: 100%;
      height: 100%;
      border-radius: 2px;
      box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.4);
    }

    div.detail-status {
      position: absolute;
      top: 3px;
      left: 3px;
      width: 15px;
      height: 15px;
      border-radius: 5px;

      &.running {
        background-color: #227722;
      }

      &.ended {
        background-color: #ff0000;
      }

      &.unknown {
        background-color: #808080;
      }

      &:hover {
        p.status-hover {
          visibility: visible;
          opacity: 1;
        }
      }

      p.status-hover {
        position: relative;
        opacity: 0;
        visibility: hidden;
        transition: 0.2s visibility, 0.2s opacity;

        span.hover-text {
          position: absolute;
          top: 0px;
          left: 18px;
          padding: 3px 6px;
          background-color: #343436;
          border-radius: 5px;
          color: #ffffff;
          font-size: 13px;
          font-weight: 400;
        }
      }
    }
  }

  div.details-container {
    width: 60%;

    div.detail-container-1 {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2px;

      h5.show-name {
        color: #000000;
        font-size: 18px;
        font-weight: 500;
      }

      a.show-imdb {
        cursor: pointer;
        opacity: 0.7;
        width: 10%;
        color: #000000;
        font-size: 20px;
        transition: 0.1s opacity;
        text-decoration: none;

        &:hover {
          opacity: 1;
        }

        &:active {
          opacity: 0.7;
        }
      }
    }

    div.detail-container-2 {
      margin-bottom: 3px;

      p.show-network {
        opacity: 0.7;
        color: #000000;
        font-size: 15px;
        font-weight: 400;

        span.show-year {
          margin-left: 4px;
        }
      }
    }

    div.detail-container-3 {
      color: #000000;
      font-size: 15px;
      font-weight: 400;

      p.show-genres {
        opacity: 0.7;
        margin-bottom: 3px;
      }
      p.show-average-runtime {
        opacity: 0.7;
        margin-bottom: 3px;
      }
      span.show-delete {
        cursor: pointer;
        display: inline-flex;
        opacity: 0.8;
        align-items: center;
        justify-content: center;
        color: #ff0000;
        font-size: 20px;
        transition: 0.1s color, 0.1s transform;

        &:hover {
          transform: rotate(10deg);
          color: #343436;
        }

        &:active {
          transform: rotate(0deg);
          color: #ff0000;
        }
      }
    }
  }
}
