div.show-percent-container {
  width: 100%;
  margin-bottom: 10px;

  div.progress-bar-container {
    display: flex;
    position: relative;
    align-items: center;
    width: 99.4%;
    height: 32px;
    padding: 1px;
    background-color: #eeeeee;
    border: 1px solid #00000059;
    border-radius: 1px;
    box-shadow: 1.5px 1.5px 1px 0px #00000059;

    div.progress {
      height: 100%;
      background-color: #058d0580;
      transition: 0.2s width;

      span.progress-percent {
        opacity: 0.7;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        color: #000000;
        font-size: 13px;
        font-weight: 400;
        text-align: center;
      }
    }
  }
}
