div.show-episodes-container {
  div.season-container {
    margin: 10px 0;
    background-color: #d3d3d3;
    border-radius: 1px;
    padding: 5px 10px;
    color: #000000;
    width: 99%;
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.4);

    div.season-title-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      &.active {
        h5.season-title {
          svg.title-arrow {
            transform: rotate(0deg);
          }
        }
      }

      h5.season-title {
        font-size: 18px;
        font-weight: 500;
        display: flex;
        align-items: center;

        svg.title-arrow {
          font-size: 18px;
          transform: rotate(-90deg);
          margin-right: 5px;
          transition: 0.1s transform;
          opacity: 0.6;
        }

        &.watched {
          text-decoration: line-through;
        }

        &.watched + span.season-complete {
          background-color: #227722;
          color: #ffffff;
        }
      }

      span.season-complete {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-weight: 400;
        font-size: 20px;
        background-color: white;
        box-shadow: 1.5px 1.5px 1px 0px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        transition: 0.1s color, 0.1s background-color;

        &:hover {
          color: #227722;
        }
      }

      &.active {
        & + ul.episodes-container {
          display: block;
        }
      }
    }

    ul.episodes-container {
      display: none;
      margin: 5px 0;

      li.episode {
        position: relative;
        cursor: pointer;
        font-weight: 400;
        font-size: 15px;
        margin: 2px 0;

        span.episode-number {
          display: inline-block;
          opacity: 0.6;
          width: 25px;
          font-weight: 500;
        }

        &:hover {
          p.episode-hover {
            display: block;
          }
        }

        &.watched {
          text-decoration: line-through;
          span.episode-number {
            opacity: 1;
            color: #227722;
          }
        }

        p.episode-hover {
          position: absolute;
          border-radius: 1px;
          padding: 5px 10px;
          top: 20px;
          left: 0;
          z-index: 99;
          background-color: #e4e4b2;
          display: none;
        }
      }
    }
  }
}
