div.tabs-container {
  ul.tab-list {
    display: flex;
    list-style-type: none;
    user-select: none;

    li.tab {
      z-index: 0;
      color: #ffffff;
      padding: 10px 20px;
      width: 50%;
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      background-color: #343436;
      transition: 0.2s background-color;
      cursor: pointer;

      &.active {
        background-color: #ffffff;
        color: #343436;
      }

      &:not(.active):hover {
        background-color: #414141;
      }
    }
  }
}
