/*
  THIS FILE WAS DEVELOPED BY MEHMET GUDUK
  © 2022 COPYRIGHT, LICENSED WITH GPL-3.0 LICENSE, AUTHOR IS MEHMET GUDUK
  https://github.com/mehmetguduk
*/

div.tabs-container {
  ul.tab-list {
    display: flex;

    li.tab {
      cursor: pointer;
      z-index: 0;
      width: 50%;
      padding: 10px 20px;
      background-color: #343436;
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      transition: 0.2s background-color;

      &.active {
        background-color: #ffffff;
        color: #343436;
      }

      &:not(.active):hover {
        background-color: #414141;
      }

      &.active:hover {
        background-color: #dddddd;
      }
    }
  }
}
