div.search-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  form.search-form {
    display: flex;
    margin-bottom: 15px;

    input.search-input {
      width: 75%;
      padding: 8px 10px;
      background-color: #e0e0e0;
      border: 1px solid #3434361c;
      border-radius: 2px;
      box-shadow: 1.5px 1.5px 1px 0px rgba(0, 0, 0, 0.3);
      color: #343436;
      font-size: 14px;
      font-weight: 400;
      transition: 0.2s border;

      &:hover {
        border: 1px solid #3434365d;
      }

      &:focus {
        border: 1px solid #3434369c;
        outline: none;
      }
    }

    button.search-button {
      cursor: pointer;
      width: 25%;
      padding: 5px 10px;
      margin: 0 5px 0 5px;
      background-color: #e0e0e0;
      border: none;
      border: 1px solid #3434361c;
      border-radius: 2px;
      box-shadow: 1.5px 1.5px 1px 0px rgba(0, 0, 0, 0.3);
      color: #343436;
      font-size: 14px;
      font-weight: 400;
      transition: 0.2s border;

      &:hover {
        border: 1px solid #3434365d;
      }
      &:active {
        border: 1px solid #3434369c;
      }
    }
  }

  ul.search-results {
    li.result {
      cursor: pointer;
      display: inline-flex;
      position: relative;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 33%;
      padding: 5px;
      background-color: #dbdbdb;
      border: 1px solid #ffffff;
      border-radius: 5px;
      transition: 0.2s background-color;

      &.inlist {
        background-color: #227722;
      }

      &.inlist:hover {
        background-color: #227722;
      }

      &:hover {
        background-color: #343435;

        h5.result-name {
          opacity: 0.95;
          visibility: visible;
        }
      }

      img.result-image {
        width: 100%;
        border-radius: 5px;
      }

      h5.result-name {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        top: 0;
        left: 0;
        width: 100%;
        padding: 3px;
        background-color: #343436;
        border-radius: 5px 5px 0 0;
        color: white;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        word-wrap: break-word;
        transition: 0.2s opacity, 0.2s visibility;
      }
    }
  }

  div.no-search-container {
    display: flex;
    position: absolute;
    opacity: 0.3;
    top: 50%;
    left: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translate(-50%, -50%);
    width: 100%;

    img.no-search-logo {
      width: 50%;
    }
    h5.no-search-text {
      margin-top: 3px;
      color: #000000;
      font-size: 14px;
      font-weight: 700;
    }
    p.copyright-text {
      margin-top: 3px;
      color: #000000;
      font-size: 10px;
      font-weight: 700;

      a.copyright-link {
        color: #000000;
        transition: 0.2s color;

        &:hover {
          color: #ff4500;
        }

        &:active {
          color: #000000;
        }
      }
    }
  }
}
