/*
  THIS FILE WAS DEVELOPED BY MEHMET GUDUK
  © 2022 COPYRIGHT, LICENSED WITH GPL-3.0 LICENSE, AUTHOR IS MEHMET GUDUK
  https://github.com/mehmetguduk
*/

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input,
button,
* {
  font-family: "Rubik", sans-serif;
  user-select: none;
}

div.App {
  width: 350px;
}

div.main-content {
  position: relative;
  height: 450px;
  padding: 15px;
  background-color: #ffffff;
}

img {
  -webkit-user-drag: none;
}

body {
  background-color: rgb(218, 218, 218);
}

ul {
  list-style-type: none;
}
